# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Distribution
build/
dist/
*.egg-info/

# Testing/Linting
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# Database
*.sqlite
*.db
data/

# OS
.DS_Store
Thumbs.db
